<% if (theme.visit_counter) { %>
    <span id="busuanzi_container_site_uv style='display:none'">
        <%- theme.visit_counter.site_uv %><i id="busuanzi_value_site_uv"></i>&nbsp;位访问者
    </span>
    <span id="busuanzi_container_site_pv style='display:none'">
        <%- theme.visit_counter.site_pv %><i id="busuanzi_value_site_pv"></i>&nbsp;次
    </span>
<% } %>
