<footer class="footer">
    <div class="top">
        <p>
            <span><i class="icon icon-lg icon-rss"></i></span>
            <span>博客内容属于原创创作，未授权转载者必追究其法律责任。
        </p>
        <%- partial('plugins/site-visit') %>
    </div>
    <div class="bottom">
        <p>
            <span>
                黑客是如何开始他们的下午？
                <i class="icon icon-heart-o" style="font-weight: bold;"></i>
                <%-config.title %> &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%>
                <%- theme.since_year %> - <%}%><%- date(new Date(), 'YYYY') %>

                <!--Power by <a href="http://hexo.io/" target="_blank">Hexo</a>-->
             </span>
        </p>
    </div>
</footer>

