
.archive-separator {
    margin: 35px 0 13px;
    color: @primaryColor;
    font-size: 16px;
    font-weight: bold;

    &:first-child {
        margin-top: 10px;
    }
}
.tagcloud-container {
	margin: 0 auto;
	padding: 0 30px;
}
.tagcloud {
	position:relative;
	float: left;
	text-align: center;
	width: 80px;
	margin: 1px 1px;
	padding: 5px 5px;
	box-shadow: 0 1px 2px 0 rgba(0, 10, 0, 0.2), 0 1px 2px 0 rgba(0, 10, 0, 0.19);
}

.tagcloud:hover {
	box-shadow: 0px 25px 67px -17px rgba(121,191,155,1); 
}

div.tagcloud a {
	color: #666;
	text-decoration: none;
}

div.tagcloud a:hover {
	color: #ddd;
}

.post-list, .article-card {
    max-width: 840px;
}

.post-list {
    margin: 0 auto;
    box-shadow: 2px 3px 12px #d4d5d6;
}

.article-card {
    padding: 16px 20px 0;
    height: 100%;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border-bottom: 1px dashed #ccc;

    // 文章标题
    > :nth-child(2) {
        margin-bottom: 5px;
        margin-left: -1px;
    }

    // &:hover {
        // background-color: rgba(1, 1, 1, 0.001);
        // box-shadow:
        // 2px 3px 10px rgba(30, 155, 155, 0.32);
        // -1px 0 1px rgba(30, 155, 155, 0.12),
        // 0 -1px 1px rgba(30, 155, 155, 0.12)
        // ;
    // }

    .post-content {
        word-break: break-all;
        padding-bottom: 10px;

        .highlight,
        > pre {
            margin-left: 0;
            margin-right: 0;
            padding: 20px 35px;
        }
    }

    .post-time {
        line-height: 24px;
        font-weight: bold;
    }

    .post-footer {
        margin: 0 -20px;
        padding: 12px 20px;
    }
}

.archive-article {
    .post-title {
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 16px;
    }
}

.waterfall {
    position: relative;
    margin: 0 -10px -20px;
    .fade;
    opacity: 0;
}

.waterfall-item {
    position: absolute;
    width: 50%;
    padding: 0 10px 20px;


    &.padding {
        padding-bottom: 12px;
    }

    > .box {
        display: flex;
        align-items: center;

        > .title {
            flex: 1;
            font-size: 14px;
            color: #333;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 8px;

            &:hover {
                color: #111;
            }
        }

        > .catagories {
            font-size: 13px;
            width: 85px;
            color: #888;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
@media screen and (max-width:760px) {
    .archive-article {
        display: block;
        margin: 0 -16px;
        padding: 16px 16px 8px;
        border-bottom: 1px solid @borderColor;

        .post-footer {
            border-top: none;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .article-card {
        border-radius: 0;

        &:hover {
            box-shadow: none;
        }
    }

    .archive-separator {
        margin-top: 16px;
    }

    .waterfall {
        margin: 0;
        height: auto!important;
        opacity: 1;
        .transform(translateY(0));
    }

    .waterfall-item {
        position: static;
        width: 100%;
        padding: 0;

        > .box {
            margin: 5px;
        }
    }
}
@media screen and (max-width:420px) {
    .archive-article {
        padding: 16px 16px 0;
    }

    .post-list-item {
        margin: 0;
    }

    .article-card {
        box-shadow: none;
        margin: auto 0;
        border-bottom: 1px solid #eee;
        padding-top: 8px;

        &:hover {
            background-color: #fff;
        }

        .post-meta {
            margin: 0;
        }

        h2:first-of-type {
            padding-top: 5px;
        }
    }
}



//////////////////////////////////// 新添加 /////////////////////////////////////

.index {

    img[src=false] {
        display: none;
    }

    // 图片摘要
    .img-summary {
        max-width: 100%;
    }
	
    @media screen and (min-width: 761px) {
        .post-list, .article-card {
            max-width: 840px;
        }

        .post-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            box-shadow: none;

            > li {
                width: (840px - 8px * 2) / 2;
                margin: 6px auto;
                padding: 0;

                > article {
                    border-radius: 3px;
                    margin-right: 8px;
                    margin-top: 8px;
                    display: flex;
                    flex-direction: column;
                    border: none;
                    background-color: rgba(255, 255, 255, 1);
                    box-shadow: 0 5px 12px rgba(1, 1, 1, 0.34);
                }
            }
        }
        .article-card {
            // 新增加
            height: 500px;
            .post-content {
                flex: 1;
                padding-left: 5px;
                overflow: hidden;
                // 新添加
                img {
                    pointer-events: none;
                    cursor: default;
                }
                -webkit-mask-image: linear-gradient(#1a1a1a calc(100% - 24rem),transparent calc(100% - 2.8rem));
                mask-image: linear-gradient(#1a1a1a calc(100% - 24rem),transparent calc(100% - 2.8rem));
                -webkit-mask-size: 100% 100%;
                mask-size: 100% 100%;
            }
        }
    }
	
	//屏幕宽度在120到760之间
    @media screen and (min-width: 120px) and (max-width: 760px) {
        .post-list, .article-card {
            max-width: 700;
        }

        .post-list {
            display: flex;
            flex-wrap: wrap;
			-webkit-justify-content: center;
            justify-content: center;
            box-shadow: none;

            > li {
                width: (670px - 8px * 2) / 2;
                margin: 1px auto;
                padding: 0;

                > article {
                    border-radius: 3px;
                    margin-right: 8px;
                    margin-top: 8px;
                    display: flex;
                    flex-direction: column;
                    border: none;
                    background-color: rgba(255, 255, 255, 1);
                    box-shadow: 0 5px 12px rgba(1, 1, 1, 0.34);
                }
            }
        }
        .article-card {
            // 新增加
            height: 500px;
            .post-content {
                flex: 1;
                padding-left: 5px;
                overflow: hidden;
                // 新添加
                img {
                    pointer-events: none;
                    cursor: default;
                }
                -webkit-mask-image: linear-gradient(#1a1a1a calc(100% - 24rem),transparent calc(100% - 2.8rem));
                mask-image: linear-gradient(#1a1a1a calc(100% - 24rem),transparent calc(100% - 2.8rem));
                -webkit-mask-size: 100% 100%;
                mask-size: 100% 100%;
            }
        }
    }
}

.index {
	//首页摘要鼠标经过按钮
  .post-list-item {
	position: relative;
    .more {
      position: absolute;
      bottom: 70px;
      left: 0;
      right: 0;
      border-radius: 4px;
      text-align: center;
      padding: .35em .9em;
      margin: 0 auto;
      z-index: 100;
      background-color: rgba(0,191,255,1);
      transition: all .24s ease-in-out .1s;
      cursor: pointer;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.12);
      opacity: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 100px;
      & > a {
        color: #fff;
		text-decoration: none;
      }
    }
    &:hover {
      .more {
        opacity: 1;
      }
    }
  }
}
